.input_group {
  max-width: 25rem;
  position: relative;
  right: -73rem;
  top: 1rem;
  margin-bottom: 2rem;
}

.form_control {
  padding: 0.7rem !important;
}

.search_btn {
  z-index: -1 !important;
}

/* input:focus {
  outline: none !important;
  outline-width: 0 !important;
} */

.carousel {
  background: rgb(89,91,238); /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, rgb(89,91,238), rgb(120,89,238), rgb(153,87,238), rgb(200,85,238)); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, rgb(89,91,238), rgb(120,89,238), rgb(153,87,238), rgb(200,85,238)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 2rem 0;
}

.carousel h2,
.header {
  text-align: left;
  font-weight: bold;
  border-radius: 30%;
  padding: 1rem;
  margin-left: 1rem;
}

.carousel h2 {
  --text-opacity: 1;
  color: rgb(255,255,255,var(--text-opacity));
  border-left: 0.5rem rgb(255,255,255,var(--text-opacity)) solid;
}

.header {
  --text-opacity: 1;
  color: rgb(132,88,238,var(--text-opacity));
  border-left: 0.5rem rgb(132,88,238,var(--text-opacity)) solid;
}

.card_container {
  margin: 3rem 0 2rem 0;
}

.card_sub_container {
  display: flex;
  flex-wrap: wrap;
}

.scholarships {
  text-align: left;
  margin: 3rem 1rem;
  --text-opacity: 1;
  /* color: rgb(196,192,192,var(--text-opacity)); */
  border: 0.1rem rgb(196,192,192,var(--text-opacity)) solid;
  border-radius: 10%;
  padding: 3rem 0;
}

.scholarships p,
.scholarships button {
  margin: 0 2rem;
  font-size: 1.2rem;
}

.newsletter {
  display: flex;
  margin: 3rem auto;
  width: 50%;
  color: #ffffff;
  text-align: left;
  background: rgb(89,91,238); /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, rgb(89,91,238), rgb(120,89,238), rgb(153,87,238), rgb(200,85,238)); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, rgb(89,91,238), rgb(120,89,238), rgb(153,87,238), rgb(200,85,238)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 3rem;
  border-radius: 3rem;
}

.newsletter h2 {
  font-weight: bold;
}

.input_button {
  display: flex;
}

input[type=email] {
  min-width: 20rem;
  padding: 1rem;
  border: none;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-top-right-radius: none !important;
  outline: none;
}

.newsletter button {
  padding: 1rem;
}

.news img {
  width: 20rem;
  border-radius: 3rem;
  transform: rotate(-45deg);
}

@media only screen and (max-width: 1528px){
  .newsletter {
    display: block;
  }

  input[type=email] {
    min-width: 10rem;
  }

  .news img {
    width: 12rem;
    margin-top: 2.5rem;
  }
}
