.error_image_overlay {
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .error_image_container {
    display: inline-block;
    background-size: cover;
    background-position: center;
    width: 40vh;
    height: 40vh;
  }
  
  .error_image_text {
    font-size: 28px;
    color: #2f8e89;
  }
  