.card {
  text-align: left;
  width: 26.5rem !important;
  padding: 0.65rem;
  margin: 1.25rem 0.6rem;
}

.title {
  display: flex;
  justify-content: space-between;
}

.title h3 {
  font-size: 1.2rem;
  font-weight: bold;
}

.title small {
  font-size: 0.8rem;
}

.card p {
  font-size: 1rem;
}
